canvas{
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 9998;
    cursor: pointer;
}

#ControlBar{
    background: #00f9;
    padding: 4px;
    left: calc(100% - 400px);
    position: fixed;
    top: 10px;
    z-index: 9999;
    width: 380px;
    cursor: move;
}
#GetImgDiv{
    top: 10px;
    left: 10px;
    position: fixed;
    z-index: 9998;
    overflow: hidden;
    
}
input[type=button]{
    cursor: pointer;
}
input[type=number]{
    width:32px;
}